body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.image{
    height: 300px;
    width: 300px;
}
.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    color: black;
    font-family: Times New Roman;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    
    }

